*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --fontbody-family:'Baskervville', serif;
--fontheader-color:		#000;
--fontheader-size:1.2rem;
--fontheadertitle-size:1.5rem;
--bodersections-style:4px solid #E5E4E2;;
}

.header{
  position: fixed;
  display: flex;
  height:4rem;
  width: 100%;
  background-color: #fff;
  border-bottom: var(--bodersections-style);
  margin-left: auto;
  margin-right:auto; 


}

.header #navbar{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 20%;
  font-size: var(--fontheader-size);
  margin: auto 0;
  font-weight:bold;
  font-family: var(--fontbody-family);
}

.header img {
  width: auto;
   height: auto;
   object-fit: contain;
   margin-left: 1%;
  margin-right:1%; 
  
}
.header h1 {
  width: 70%;
  object-fit: cover;
  margin: auto 0;
  font-family: var(--fontbody-family);
  color: var(--fontheader-color);
  font-size: var(--fontheadertitle-size)
  ;
  
}

.header a {
text-decoration: none;
color: var(--fontheader-color);
padding:2%;
}

.header #navbar a:hover {
text-decoration: none;
color: #fff;
background-color: #000;
border-radius: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.Welcome{
  padding:15rem 10rem;
  height:auto;
  width:100%;
  margin: 0 auto;
  display:flex;
  justify-content: space-evenly;
  border-bottom:var(--bodersections-style);
}

.Welcome h1{
  width:50%;
  margin: auto;
  font-family: var(--fontbody-family);
  font-size:4rem;
  text-align: center;
  padding: 5%;
  
}



.project-tile{
  background-color: #FAF9F6;
  height:auto;
  width: 100%;
  display: flex;
  align-items:center;
  padding: 5% 0%;
  flex-direction:column;
  border-bottom:var(--bodersections-style);
  
}



.project-tile h2{
  font-family: var(--fontbody-family);
  padding-bottom:2%; 
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.gallery img:hover {
    opacity: 0.3;
     transition: .5s ease;
  
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle.one{
 top: 100%;
  left: 32.5%;
}
.middle.two{
 top: 100%;
  left: 50%;
}
.middle.three{
 top: 100%;
  left: 67.5%;
}
.middle.four{
 top: 130%;
  left: 32.5%;
}
.middle.five{
 top: 130%;
  left: 50%;;
}
.middle.six{
 top: 130%;
  left: 67.5%;
}
.middle.seven{
 top: 159%;
  left: 32.5%;
}
.middle.eight{
 top: 159%;
  left: 50%;;
}
.middle.nine{
 top: 159%;
  left: 67.5%;
}
.cont1:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.info{
  background-color: #fff;
  height:auto;
  width: 100%;
  display: flex;
  align-items:center;
  padding: 5% 0%;
  flex-direction:column;
  
  border-bottom:var(--bodersections-style);
  
}

.info  h2{
  font-family: var(--fontbody-family);
  padding-bottom:2%; 
}

.info .text1{
    width:50%;
  margin: auto;
  font-family: var(--fontbody-family);
  font-size:1.4rem;
  text-align: justify;
  padding: 1%;
  
}

.info li{

  margin: auto;
  font-family: var(--fontbody-family);
  font-size:1.4rem;
  text-align: justify;
  padding: 1%;
  
}

.info .text1::first-letter {
  font-size: 6rem;
  color: #000;
  float: left;
  margin-right: 1rem;
}



footer{
  background-color:#fff;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: grid;
  font-size: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.social-icons a{
  color: #000;
}

.number{
  font-weight: normal;
  font-size: 1.1rem;
}

a{
  text-decoration:none;
  color:white;
  font-family: var(--fontbody-family)
}

.info a{
 
  color:#000;
 
}